#centerpanel {
	flex-grow: 1;
	@include vflex;
	position: relative;
}

#attention {
	display: none;
	position: absolute;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 107px;
	border: 9px solid #FF2222;
	border-radius: 10px;
}

#layercontainer {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 110px;
	overflow: hidden;
}

#room {
	flex-grow: 1;
	width: 100%;
	padding: 10px;
	@include vflex;

	#frontdesk {
		width: 100%;
		height: 100px;
		background-color: #DDDDDD;

		input {
			display: inline-block;
		}
	}
}

#seatscontainer {
	flex-grow: 1;
	position: relative;

	& > div {
		position:absolute;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
}
