#centerpanel {
	flex-grow: 1;
	@include vflex;
	position: relative;
}

#attention {
	z-index: 2;
	display: none;
	position: absolute;
	top: 7px;
	left: 7px;
	right: 7px;
	bottom: 107px;
	border: 9px solid #FF2222;
	border-radius: 10px;
}

#layercontainer {
	z-index: 1;
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 110px;
	overflow: hidden;
}

#room {
	flex-grow: 1;
	width: 100%;
	padding: 10px 10px 0px 10px;
	@include vflex;

	#frontdesk {
		z-index: 3;
		width: 100%;
		height: $frontdesk_height;
		background-color: #DDDDDD;
	}
}

#seatscontainer {
	flex-grow: 1;
	position: relative;

	& > div {
		position:absolute;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 10px;
	}
}

#toastlist {
	z-index: 4;
}
