@mixin hflex {
	display: flex;
	flex-direction: row;
}

@mixin vflex {
	display: flex;
	flex-direction: column;
}

@mixin centerclock {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -24px 0px 0px -24px;
}
