#pultup {
	position: relative;
	height: $drawer_height + $handle_height + $handle_fix;
	text-align: center;
	margin-top: $handle_offset - $handle_fix;
	overflow: hidden;

	padding-top: 0px;
	transition: padding-top 0.5s ease-out;
	&.inactive {
		padding-top: $drawer_height;
		transition: padding-top 0.5s ease-in;
	}

	&.wheel  *.thumb, &.wheel  *.rating { display: none; }
	&.thumb  *.wheel, &.thumb  *.rating { display: none; }
	&.rating *.thumb, &.rating *.wheel  { display: none; }

	&.inactive .handle i.glyphicon-menu-down  { 
		transform: scaleY(-1);
		transition: transform 1.0s ease;
	}

	.handle {
		display: inline-block;
		width: 50px;
		height: $handle_height;
		background-color: red;
		margin-top: 5px;
		background-color: #EEEEEE;
		border-radius: 5px 5px 0px 0px;
		border-top:    1px solid #555555;
		border-left:   1px solid #555555;
		border-right:  1px solid #555555;
		border-bottom: 1px solid #EEEEEE;
		box-shadow: 0px (0-$handle_fix) 3px #555555;
		margin-bottom: -2px;
		font-size: 20px;
		cursor: pointer;

		i {
			transform: scaleY(1);
			transition: transform 1.0s ease;
		}
	}

	#drawer {
		border-radius: 20px 20px 0px 0px;
		border-top:    1px solid #222222;
		border-left:   1px solid #222222;
		border-right:  1px solid #222222;
		box-shadow: 0px 0px 5px #222222;
		height: $drawer_height + 2;
		margin: 0px 10px 0px 10px;
		@include hflex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-content: space-between;
		align-items: flex-start;
		overflow: hidden;
		background-color: #EEEEEE;
		padding: 5px 5px 0px 5px;

		.indicator {
			height: 100%;
			width: 90px;

			img {
				height: 80px;
			}

			i {
				font-size: 80px;
			}
		}

		.feedback {
			height: 100%;
			flex-grow: 1;
			margin-left: 10px;
			margin-right: 10px;
			text-align: center;
			justify-content: space-around;
			align-content: stretch;
			align-items: center;
			@include vflex;

			& > div {
				flex-grow: 0;
				flex-shrink: 1;
			}

			.wheel.choice {
				font-size: 40px;
			}

			.wheel.help b {
				font-weight: bold;
			}

			.thumb {
				.value {
					font-size: 50px;
				}

				img {
					margin-top: -2px;
					height: 90px;
					transition: transform 0.5s;
				}
				img:first-of-type {
					margin-right: 30px;
				}
				img:last-of-type {
					margin-left: 30px;
					transform: rotate(-0deg) scaleX(-1);
				}
			}

			.rating {
				.value {
					font-size: 50px;
				}

				i {
					font-size: 70px;
					vertical-align: baseline;

					&.glyphicon-star       { color: #CFAD02; }
					&.glyphicon-star-empty { color: #AAAAAA; }
				}
			}
		}

		.stats {
			height: 100%;
			flex-shrink: 1;
			text-align: right;
			font-size: 30px;
		}

	}
}
