#seats {
	width: 100%;
	height: 100%;
	border-spacing: 10px;
	border-collapse: separate;
	background-color: #FFFFFF;

	td {
		background: #DDDDDD;
		margin: 2px;
	}

	td.activity_low {
		background: linear-gradient(0deg, $tdgrad_color_low 0%, $tdgrad_color_low 04%, #DDD 06%, #DDD 100%);
	}
	td.activity_medium {
		background: linear-gradient(0deg, $tdgrad_color_medium 0%, $tdgrad_color_medium 42%, #DDD 44%, #DDD 100%);
	}
	td.activity_high {
		background: linear-gradient(0deg, $tdgrad_color_high 0%, $tdgrad_color_high 85%, #DDD 87%, #DDD 100%);
	}
}
