#buttonpanel {
	width: 100px;
	min-width: 90px;
	@include vflex;
	justify-content: flex-start;

	a {
		margin: 10px auto;
		display: block;
		width: 50px;
		height: 45px;
		font-size: 30px;
		padding: 0px;
		text-align: center;
	}

	.panel-heading {
		padding: 10px 0px;
	}

	.panel-body {
		padding: 0px;
	}

	& > div {
		margin: 0px;
		overflow-y: auto;
	}
}

#flowbox {
	text-align: center;
	min-height: 170px;
}

#actionbox {
	text-align: center;
	min-height: 280px;
	flex-grow: 1;
}

#devbox {
	background-color: #A0C7F3;
	font-size: 0.8em;
	width:110px;
	z-index:1;
	flex-grow: 1;
	overflow-x: visible;
}
