/*
	@author Niko
*/
#buttonpanel {
	width: 100px;
	min-width: 90px;
	@include vflex;
	justify-content: flex-start;

	a {
		margin: 10px auto;
		display: block;
		width: 50px;
		height: 45px;
		font-size: 30px;
		padding: 0px;
		text-align: center;
	}

	.panel-heading {
		padding: 5px 0px;
	}

	.panel-body {
		padding: 0px;
	}

	& > div {
		margin: 0px;
		overflow: hidden;
	}
}

#flowbox {
	text-align: center;
	min-height: 150px;
}

#actionbox {
	text-align: center;
	min-height: 200px;
	flex-grow: 1;

	#btnWheel {
		background-image: url(../images/wheel.icon.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 30px;
	}
}

#optionbox {
	text-align: center;
	min-height: 150px;
}

