#pultup {
	height: 90px;
	margin: 10px 10px 0px 10px;
	@include hflex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: flex-start;
	overflow: hidden;

	&.wheel  *.thumb, &.wheel  *.rating { display: none; }
	&.thumb  *.wheel, &.thumb  *.rating { display: none; }
	&.rating *.thumb, &.rating *.wheel  { display: none; }

	.indicator {
		height: 100%;
		width: 90px;
		margin-right: 10px;

		img {
			height: 80px;
		}

		i {
			font-size: 80px;
		}
	}


	.feedback {
		height: 100%;
		flex-grow: 1;
		text-align: center;
		justify-content: space-around;
		align-content: stretch;
		align-items: center;
		@include vflex;

		& > div {
			flex-grow: 0;
			flex-shrink: 1;
		}

		.wheel.choice {
			font-size: 40px;
		}

		.wheel.help b {
			font-weight: bold;
		}

		.thumb {
			.value {
				font-size: 50px;
			}

			img {
				margin-top: -2px;
				height: 90px;
				transition: transform 0.5s;
			}
			img:first-of-type {
				margin-right: 30px;
			}
			img:last-of-type {
				margin-left: 30px;
				transform: rotate(-0deg) scaleX(-1);
			}
		}

		.rating {
			.value {
				font-size: 50px;
			}

			i {
				font-size: 70px;
				vertical-align: baseline;

				&.glyphicon-star       { color: #CFAD02; }
				&.glyphicon-star-empty { color: #AAAAAA; }
			}
		}
	}

	.stats {
		height: 100%;
		flex-shrink: 1;
		margin-left: 10px;
		text-align: right;
		font-size: 30px;
	}
}
