#seats {
	width: 100%;
	height: 100%;
	background-color: transparent;
	@include vflex;

	.srow {
		flex-grow: 1;
		flex-basis: 0;
		@include hflex;

		.scell {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 0;
			margin: 5px;
			padding: 10px 2px 0px 2px;
			word-break: break-word;
			overflow: hidden;
			background: #DDDDDD;

			.person {
				text-align: center;

				.name {
					font-weight: bold;
				}

				.group {
					font-style: italic;
					&:not(:empty)::before { content: "("; font-style: italic; }
					&:not(:empty)::after  { content: ")"; font-style: italic; }
				}
			}
		}
	}
}
