$timepanel_height: 100px;
$timeprogress_height: 40px;
$hourdisplay_height: 30px;
$timeprogress_font: 24px;
$hourdisplay_font: 20px;

$tdgrad_color_low:    #4CAF50;
$tdgrad_color_medium: #FF5722;
$tdgrad_color_high:   #F44336;

$dialog_padding: 10px;
$dialog_border_radius: 10px;

$frontdesk_height: 100px;
$drawer_height: 90px;
$handle_height: 30px;
$handle_offset: -20px;
$handle_fix: 3px;
