//settings and output-less content
@import "vars";
@import "mixins";

//content
@import "base";
@import "header";
@import "buttonpanel";
@import "centerpanel";
@import "seating";
@import "newsfeed";
@import "dialog";
@import "popup";
@import "toast";
@import "pultup";

//development
#devbox {
	display: none;

	.devbutton {
		height: 30px;
		width: 110px;
	}

	font-size: 0.8em;
	position: absolute;
	top: 80px;
	left: 145px;
	overflow: hidden;
	z-index: 999;

	height: 30px;
	width: 110px;
	transition: width 0.5s ease, height 0.5s ease, background-color 0.5s step-end;
	&.opened {
		overflow: auto;
		height: 500px;
		width: 1100px;
		transition: width 0.5s ease, height 0.5s ease, background-color 0.5s step-start;
		background-color: #D9F2F2;
		border: 1px solid black;
	}

	#packageLogging {
		position: absolute;
		top: 31px;
		left: 0px;
		width: 100%;
		height: 500px - 30px - 5px;
	}
}
