html {
    background: url("background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

#excel {
    background: url("excel.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    position: relative;
    left: -700px;
    top: 140px;
    width: 771px;
    height: 546px;
}

#resName, #resGroup {
    position: relative;
    font-size: 26px;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    width: 410px;
    border: 0;
    background: none;
    padding: 0;
    margin: 0;

    left: 210px;
}

#resName {
    top: 264px;
}

#resGroup {
    top: 305px;
}