html {
	height: 100%;
}

body {
	background-color: #EEEEEE;
	height: 100%;
}

$timepanel_height: 100px;
$timeprogress_height: 40px;
$hourdisplay_height: 30px;
$timeprogress_font: 24px;
$hourdisplay_font: 24px;

#screen {
	height: 100%;
	width:  100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	#timepanel {
		height: $timepanel_height;
		display: flex;
		flex-direction: row;

		#logo {
			h1 {
				font-size: $timepanel_height * 0.8;
				margin: 0px;
			}
		}

		#timeline {
			flex-grow: 1;
			 
			#progressdisplay {
				border-radius: 5px;
				height: $timeprogress_height;
				margin-top:    ($timepanel_height - $timeprogress_height - $hourdisplay_height) / 2;
				margin-bottom: 0px;
				margin-left: 20px;
				margin-right: 10px;
			}

			#hourdisplay {
				height: $hourdisplay_height;
				margin-top: 0px;
				margin-bottom: ($timepanel_height - $timeprogress_height - $hourdisplay_height) / 2;
				margin-left: 20px;
				margin-right: 10px;
				overflow: hidden;
				font-size: 0px;

				.hour {
					display: inline-block;
					font-size: $hourdisplay_font;
					height: 100%;
					padding: 0px;
					text-align: right;

					&:first-child {
						text-align: left;
					}
				}
			}

			.progress-bar {
				line-height: $timeprogress_height;
				font-size: $timeprogress_font;
				text-align: center;
				overflow: visible;
			}
		}

		#currentbox {
			#currentstate {
				height: $timeprogress_height;
				margin-top:    ($timepanel_height - $timeprogress_height - $hourdisplay_height) / 2;
				margin-bottom: 0px;
				margin-left: 0px;
				margin-right: 10px;
			}

			#currenttime {
				height: $hourdisplay_height;
				margin-top: 0px;
				margin-bottom: ($timepanel_height - $timeprogress_height - $hourdisplay_height) / 2;
				margin-left: 0px;
				margin-right: 10px;
				line-height: $timeprogress_height;
				font-size: $timeprogress_font;
				text-align: left;
				font-weight: bold;
			}
		}
	}

	#maincontainer {
		flex-grow: 1;
		display: flex;
		flex-direction: row;

		#buttonpanel {
			width:100px;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;

			#playbox {
				margin: 0px;
				text-align: center;

				a {
					margin: 5px;
				}
			}

			#actionbox {
				@extend #playbox;
				flex-grow: 1;
			}
		}
		#centerpanel {
			flex-grow: 1;
		}
		#feedpanel {
			width:200px;
		}
	}
}

.panel {
	margin: 5px;
	background-color: #FFFFFF;
}
