html {
  height: 100%; }

body {
  background-color: #EEEEEE;
  height: 100%; }

#screen {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }
  #screen #timepanel {
    height: 100px;
    display: flex;
    flex-direction: row; }
    #screen #timepanel #logo {
      white-space: nowrap;
      vertical-align: middle; }
      #screen #timepanel #logo h1 {
        font-size: 60px;
        margin: 0px;
        height: 100%;
        padding-top: 10px;
        padding-bottom: 10px; }
        #screen #timepanel #logo h1 img {
          height: 80px;
          border-radius: 5px; }
    #screen #timepanel #timeline {
      flex-grow: 1;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 20px;
      padding-right: 0px; }
      #screen #timepanel #timeline #progressdisplay {
        border-radius: 5px;
        height: 40px;
        margin: 0px; }
      #screen #timepanel #timeline #hourdisplay {
        height: 30px;
        margin: 0px;
        overflow: hidden;
        font-size: 0px; }
        #screen #timepanel #timeline #hourdisplay .hour {
          display: inline-block;
          font-size: 20px;
          height: 100%;
          padding: 0px;
          text-align: right;
          vertical-align: top; }
          #screen #timepanel #timeline #hourdisplay .hour:first-child {
            text-align: left; }
      #screen #timepanel #timeline .progress-bar {
        line-height: 40px;
        font-size: 24px;
        text-align: center;
        overflow: visible; }
    #screen #timepanel #currentbox {
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 0px;
      padding-right: 10px; }
      #screen #timepanel #currentbox #currentstate {
        height: 40px;
        margin: 0px;
        line-height: 40px;
        font-size: 40px;
        text-align: center; }
      #screen #timepanel #currentbox #currenttime {
        height: 30px;
        margin: 0px;
        line-height: 30px;
        font-size: 30px;
        text-align: left;
        font-weight: bold; }
  #screen #maincontainer {
    flex-grow: 1;
    display: flex;
    flex-direction: row; }
    #screen #maincontainer #buttonpanel {
      width: 100px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
      #screen #maincontainer #buttonpanel #playbox, #screen #maincontainer #buttonpanel #actionbox {
        margin: 0px;
        text-align: center; }
        #screen #maincontainer #buttonpanel #playbox a, #screen #maincontainer #buttonpanel #actionbox a {
          margin: 5px; }
      #screen #maincontainer #buttonpanel #actionbox {
        flex-grow: 1; }
    #screen #maincontainer #centerpanel {
      flex-grow: 1;
      display: flex;
      flex-direction: column; }
      #screen #maincontainer #centerpanel #room {
        flex-grow: 1;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column; }
        #screen #maincontainer #centerpanel #room #seatscontainer {
          flex-grow: 1; }
          #screen #maincontainer #centerpanel #room #seatscontainer #seats {
            width: 100%;
            height: 100%;
            border-spacing: 10px;
            border-collapse: separate;
            background-color: #FFFFFF; }
            #screen #maincontainer #centerpanel #room #seatscontainer #seats td {
              background-color: #DDDDDD;
              margin: 2px; }
        #screen #maincontainer #centerpanel #room #frontdesk {
          width: 100%;
          height: 100px;
          background-color: #DDDDDD; }
    #screen #maincontainer #feedpanel {
      width: 300px;
      display: flex;
      flex-direction: column; }
      #screen #maincontainer #feedpanel .panel-body {
        flex-grow: 1;
        position: relative; }
        #screen #maincontainer #feedpanel .panel-body #alertcontainer {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          overflow-y: scroll;
          padding: 5px; }
          #screen #maincontainer #feedpanel .panel-body #alertcontainer .alert {
            margin-bottom: 10px; }
      #screen #maincontainer #feedpanel .panel-footer {
        text-align: right; }

.panel {
  margin: 5px;
  background-color: #FFFFFF; }

/*# sourceMappingURL=app.css.map */
